@media (max-width: 670px){
  .page-wrap {
    padding: 0;
  }}

.header {
  width: 100%;
  z-index: 12;
  position: relative;
}

.header__inner {
  height: 64px;
  background: rgb(0, 149, 218) none repeat scroll 0% 0%;
  position: relative;
  z-index: 7;
}

@media (max-width: 530px) {
  .header__inner {
    height: 48px;
  }
}

.header__logo {
  width: 169px;
  height: 100%;
  position: relative;
  float: left;
}

.header__logo a {
  display: block;
  position: absolute;
  top: 13px;
  left: 20px;
  width: 167px;
  height: 51px;
  background: transparent url('../images/logo.png') no-repeat scroll 0% 0%;
  text-indent: -9000px;
}

.header__logo a {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url('../images/spcor2.jpg') no-repeat scroll center center / 100% auto;
  text-indent: -9000px;
  outline: none;
  border: none;
}

@media (max-width: 530px) {
  .header__logo a {
    background-size: contain;
  }
}

.nav {
  height: 64px;
  max-width: 920px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 530px) {
  .nav {
    display: none;
  }
}

.nav__inner {
  width: 9000px;
}

.nav li {
  display: block;
  float: left;
  height: 64px;
  margin-right: 1px;
  position: relative;
}

.nav li a {
  display: block;
  height: 100%;
  font: 16px/64px "OpenSansLight", sans-serif;
  color: rgb(255, 255, 255);
  padding: 0px 24px;
  text-decoration: none;
  transition: background 0.3s ease 0s;
}

.nav li a:hover {
  background: rgb(0, 165, 242) none repeat scroll 0% 0%;
}

.nav li a {
  position: relative;
  background: rgb(0, 149, 218) repeat scroll 0% 0%;
}

.nav li:first-child::after, .nav__item_first::after {
  display: block;
  content: " ";
  position: absolute;
  z-index: 200;
  bottom: 0px;
  left: 0px;
  width: 40px;
  height: 26px;
}

/* .nav li a::before { display: block; position: absolute; top: 100%; left: 0px; width: 100%; height: 100%; text-align: center; background: rgb(9, 101, 160) none repeat scroll 0% 0%; content: attr(data-hover); transition: background 0.3s ease 0s; transform: rotateX(-90deg); transform-origin: 50% 0px 0px; } */
.nav li:hover a::before, .nav li:focus a::before {
  background: rgb(36, 131, 197) none repeat scroll 0% 0%;
}

.nav_mobile {
  display: none;
}

@media (max-width: 530px) {
  .nav_mobile {
    display: block;
    width: 270px;
    position: absolute;
    top: 100px;
    right: 0px;
    z-index: 2;
    height: 100%;
    background: rgb(34, 34, 34) none repeat scroll 0% 0%;
  }

  .nav_mobile::after {
    position: absolute;
    height: 100%;
    width: 1px;
    left: -1px;
    top: 0px;
    box-shadow: 2px 0px 14px 1px rgb(51, 51, 51);
    content: " ";
  }

  .nav_mobile .search_mobile {
    height: 48px;
    background: rgb(0, 149, 218) none repeat scroll 0% 0%;
  }

  .nav_mobile .search_mobile .search__form {
    width: 225px;
    top: 9px;
  }

  .nav_mobile .search_mobile .search__text {
    width: 180px;
    padding: 0px 10px;
  }

  .nav_mobile .nav__list_mobile li {
    height: 48px;
    line-height: 48px;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(0, 0, 0);
  }

  .nav_mobile .nav__list_mobile li a {
    font: 16px/48px "OpenSansLight", sans-serif;
    padding-left: 24px;
  }

  .nav_mobile .nav__list_mobile li .header__air {
    padding: 15px 24px 0px;
    border-left: medium none;
    width: auto;
    float: none;
  }
}

@media (max-width: 530px) and (max-width: 530px) {
  .nav_mobile .nav__list_mobile li .header__air {
    display: block;
  }
}

@media (max-width: 530px) {
  .nav_mobile .nav__list_mobile li .header__air-logo {
    padding: 0px;
    float: left;
  }

  .nav_mobile .nav__list_mobile li .header__air-title {
    float: right;
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 10px;
  }
}

.header__menu-link {
  display: none;
}

.header__air {
  float: right;
  border-left: 1px solid rgb(36, 131, 197);
  padding: 15px 16px 0px;
  height: 49px;
}

@media (max-width: 530px) {
  .header__air {
    display: none;
  }
}

.header__air-logo {
  display: block;
  width: 70px;
  height: 18px;
  background: transparent url('../images/logo_r24_s.png') repeat scroll 0% 0%;
}

.header__air-title {
  display: block;
  font: 11px/11px Tahoma, sans-serif;
  color: rgb(133, 204, 237);
  padding-top: 5px;
  text-decoration: none;
}

.search {
  padding: 18px 24px 0px;
  float: right;
  background: transparent url('../images/icons.png') no-repeat scroll 24px -193px;
  width: 20px;
  height: 30px;
  cursor: pointer;
}

.search .search__form {
  display: none;
}

.header__menu-link {
  display: none;
}
@media (max-width: 991px) {
  .nav {
    display: none;
  }
}
@media (max-width: 530px) {
  .header__menu-link {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    background: transparent url('../images/icons.png') no-repeat scroll 13px -394px;
    width: 48px;
    height: 48px;
    border-left: 1px solid rgb(22, 123, 175);
    z-index: 9;
    outline: none;
  }
  .search {
    display: none;
  }
}

